<div class="container-fluid min-vh-100 d-flex flex-column">
  <div class="row flex-grow-1">
    <div class="col-md-2 bg-light setFontSize">
      <div class="ms-4 float-start contact mt-5">
        <div class="mb-2">
          <i class="fa fa-map-marker" aria-hidden="true"></i
          >&nbsp;&nbsp;Imperial, MO 63052
        </div>
        <div class="mb-2">
          <i class="fa fa-mobile" aria-hidden="true"></i
          >&nbsp;&nbsp;314-603-9112
        </div>
        <div class="mb-2">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          &nbsp;&nbsp;kdoba22@gmail.com
        </div>
        <div class="p-1 bg-dark w-100"></div>

        <div class="mb-2 mt-2"><strong>Programming Languages</strong></div>
        <div class="container">
          <div class="row">
            <ul class="col">
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>Python</li>
              <li>Java</li>
              <li>HTML</li>
              <li>CSS</li>
            </ul>
            <ul class="col">
              <li>SQL</li>
              <li>MVS Assembler</li>
              <li>COBOL</li>
              <li>JCL</li>
            </ul>
          </div>
        </div>
        <div class="p-1 bg-dark w-100"></div>
        <div class="mb-2 mt-2"><strong>Frameworks</strong></div>
        <div class="container">
          <div class="row">
            <ul class="col">
              <li>Angular</li>
              <li>Bootstrap</li>
            </ul>
            <ul class="col">
              <li>React</li>
            </ul>
          </div>
        </div>
        <div class="p-1 bg-dark w-100"></div>
        <div class="mb-2 mt-2"><strong>Technologies</strong></div>
        <div class="container">
          <div class="row">
            <ul class="col">
              <li>Git</li>
              <li>DB2</li>
            </ul>
            <ul class="col">
              <li>Oracle</li>
            </ul>
          </div>
        </div>
        <div class="p-1 bg-dark w-100"></div>
        <div class="mb-2 mt-2"><strong>Tools</strong></div>
        <div class="container">
          <div class="row">
            <ul class="col">
              <li>SQL Developer</li>
              <li>eclipse</li>
              <li>IntelliJ</li>
              <li>VS Code</li>
            </ul>
            <ul class="col">
              <li>Toad</li>
              <li>Change Man</li>
              <li>Panvelet</li>
              <li>Panexec</li>
              <li>QMF</li>
            </ul>
          </div>
        </div>
        <div class="p-1 bg-dark w-100"></div>
        <div class="mb-2 mt-2"><strong>Processes</strong></div>
        <div class="container">
          <div class="row">
            <ul class="col">
              <li>Agile</li>
              <li>Scrum</li>
            </ul>
            <ul class="col">
              <li>Waterfall</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 border">
      <div class="container">
        <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="ex1-tab-1"
              data-bs-toggle="tab"
              href="#ex1-tabs-1"
              role="tab"
              aria-controls="ex1-tabs-1"
              aria-selected="true"
              >Experience</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-2"
              data-bs-toggle="tab"
              href="#ex1-tabs-2"
              role="tab"
              aria-controls="ex1-tabs-2"
              aria-selected="false"
              >Education</a
            >
          </li>
        </ul>
        <div class="tab-content" id="ex1-content">
          <div
            class="tab-pane fade show active setBodyFontSize"
            id="ex1-tabs-1"
            role="tabpanel"
            aria-labelledby="ex1-tab-1"
          >
            <div class="ms-1">
              <h1>Experience</h1>
            </div>
            <div class="ms-5">AT&T St. Louis, MO 10/1998 - Present</div>
            <div class="ms-5 mt-3">10/2018 - Present</div>
            <div class="ms-5 eduFontSize">
              PROFESSIONAL SOFTWARE ENGINEER, AT&T (FLEX FORCE)
              <div class="ms-5 mt-3 me-5 eduFontSize">
                FullStack Developer
                <ul>
                  <li>
                    Primarily focused on frontend development usnig Angular,
                    Bootstrap, HTML, and CSS
                  </li>
                  <li>
                    Secondarily focused on coding backend REST APIs using Java
                  </li>
                </ul>
              </div>
            </div>
            <hr />
            <div class="ms-5 mt-3">04/2016 - 10/2018</div>
            <div class="ms-5">
              Senior Specialist Application Developer, AT&T (FLEX FORCE)
              <div class="ms-5 mt-3 me-5">
                Various Frontend and Backend developer roles using varied
                technologies ranging from 1 to 12 month in length.
              </div>
            </div>
            <hr />
            <div class="ms-5 mt-3">12/2013 - 04/2016</div>
            <div class="ms-5">
              Senior Specialist Application Developer, AT&T (AIC)
              <div class="ms-5 mt-3 me-5">
                <ul>
                  <li>
                    Member of a development team responsible for provisioning
                    Cloud Virtual Machines and Services
                  </li>
                  <li>
                    Primary responsibility was to provide production support and
                    defect application management
                  </li>
                  <li>
                    Secondary responsibility was testing new Cloud services and
                    tracking results in Rally
                  </li>
                  <li>
                    Member of a 24X7 on-call rotation supporting this
                    application
                  </li>
                </ul>
              </div>
            </div>
            <hr />
            <div class="ms-5 mt-3">08/2010 - 12/2013</div>
            <div class="ms-5">
              Senior Specialist Application Developer, AT&T (BDS)
              <div class="ms-5 mt-3 me-5">
                <ul>
                  <li>
                    Member of a development team responsible for maintaining the
                    address of record, historical bills, and bill correction
                  </li>
                  <li>
                    Successfully designed, developed, tested, and implemented a
                    re-write of the address cleansing process that included
                    pulling address information from a DB2 database, reformat
                    data and using Connect: Direct to transmit to a UNIX box to
                    have the US Postal Service cleanse the address
                  </li>
                  <li>
                    Completed High level and detail design, coding, testing and
                    provided project knowledge to other developers as needed
                  </li>
                  <li>Provide 24X7 production support for application</li>
                </ul>
              </div>
            </div>
            <hr />
            <div class="ms-5 mt-3">02/2006 - 08/2010</div>
            <div class="ms-5">
              Senior Specialist Application Developer, AT&T (OMS)
              <div class="ms-5 mt-3 me-5">
                <ul>
                  <li>
                    Member of the OMS (Ordering Management System) Architecture
                    team, responsible for making system and technical decisions,
                    eview Business Requirements, Technical Requirements, High
                    Level Designs, Detail Designs, Interface Agreements, and
                    checking other documents for accuracy
                  </li>
                  <li>
                    Defect Manager for OMS Development working closely with
                    development to track the progress on all open defects making
                    sure that the priority is known, and that progress is made;
                    Provide daily status to leadership and arranged working
                    sessions between various groups as needed
                  </li>
                </ul>
              </div>
            </div>
            <hr />
            <div class="ms-5 mt-3">01/2001 - 02/2006</div>
            <div class="ms-5">
              Senior Specialist Application Developer, AT&T (RSI)
              <div class="ms-5 mt-3 me-5">
                <ul>
                  <li>
                    Provided programming support for AT&T Rating Services
                    Interface interfacing into the rating and discounting
                    engines
                  </li>
                  <li>
                    Maintained all APIs necessary to properly interface with the
                    rating engine
                  </li>
                  <li>
                    Designed and provided technical input on High Level Designs
                    for the bundled bill project working closely with Rating and
                    Discounting
                  </li>
                  <li>
                    Designed, coded, and tested a routine to compress and
                    decompress the log file before it was logged as to not load
                    down the online system
                  </li>
                  <li>Provided 24X7 production support for application</li>
                </ul>
              </div>
            </div>
            <hr />
            <div class="ms-5 mt-3">10/1998 - 01/2001</div>
            <div class="ms-5">
              Specialist Application Developer, AT&T (RECONCIL)
              <div class="ms-5 mt-3 me-5">
                Member of development team responsible for reconciling the IMS
                database and performing Bill Day Rating
              </div>
            </div>
            <hr />
            <div class="ms-5 mt-3">08/2011 - 05/2013</div>
            <div class="ms-5">
              ADJUNCT PROFESSOR, JEFFERSON COUNTY COMMUNITY COLLEGE
              <div class="ms-5 mt-3 me-5">
                Teach first- and second-year IT students technical programming
                <ul>
                  <li>
                    CIS 123 Programming Logis using Alice – Object Oriented 3D
                    animation programming language
                  </li>
                  <li>
                    CIS 153 Visual Basic 2010 – Object Oriented / Event Driven
                    Programming Language
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="ex1-tabs-2"
            role="tabpanel"
            aria-labelledby="ex1-tab-2"
          >
            <div class="ms-1">
              <h1>Education</h1>
            </div>
            <div class="ms-5 mt-3">October 2017</div>
            <div class="ms-5">
              Full Stack Web Developer Nano Degree,
              <a href="https://www.udacity.com" target="blank">Udacity </a>
              <div class="ms-5 mt-3 me-5 eduFontSize">
                Projects:
                <ul>
                  <li>Movie Trailer Web Site (Python)</li>
                  <li>Portfolio Mockup (HTML, CSS, Bootstrap)</li>
                  <li>Logs Analysis (Relational DB, SQL, Python)</li>
                  <li>
                    Item Catalog (OAuth using Google and Facebook sign on)
                  </li>
                  <li>
                    Neighborhood Map (JavaScript, HTML, CSS, Knockout JS, AJAX,
                    Google and Wikipedia APIs)
                  </li>
                  <li>
                    Linux Server Configuration (Create amazon Web Service Linux
                    Server and deployed Item Catalog)
                  </li>
                </ul>
                <strong>NOTE:</strong>&nbsp;&nbsp; All projects used Git and
                stored on GITHUB
              </div>
            </div>
            <hr />
            <div class="ms-5 mt-3">July 2015</div>
            <div class="ms-5">
              Frontend Web Developer Nano Degree,
              <a href="https://www.udacity.com" target="blank">Udacity </a>
              <div class="ms-5 mt-3 me-5 eduFontSize">
                Projects:
                <ul>
                  <li>
                    Feed Reader Testing (JavaScript Testing Framework, Jasmine,
                    JavaScript)
                  </li>
                  <li>
                    Neighborhood Map (JavaScript, HTML, CSS, Knockout JS, AJAX,
                    Google and Wikipedia APIs)
                  </li>
                  <li>Classic Arcade Game (OOP, JavaScript, HTML 5 Canvas)</li>
                  <li>
                    Website Optimization (Chrome Dev Tools, Critical Rendering
                    Pact, 60fps Rendering)
                  </li>
                  <li>Interactive Resume (HTML, CSS, JavaScript, JQuery)</li>
                  <li>Portfolio Mockup (HTML, CSS, Bootstrap)</li>
                </ul>
                <strong>NOTE:</strong> &nbsp;&nbsp;All projects used Git and
                stored on GITHUB
              </div>
            </div>
            <hr />
            <div class="ms-5 mt-3">December 1999</div>
            <div class="ms-5">
              MA IN COMPUTER RESOURCE AND INFORMATION MANAGEMNT,
              <a href="https://www.webster.edu/" target="blank"
                >WEBSTER UNIVERSITY
              </a>
            </div>
            <hr />
            <div class="ms-5 mt-3">December 2004</div>
            <div class="ms-5">
              BS IN COMPUTER SCIENCE,
              <a href="https://www.webster.edu/" target="blank"
                >WEBSTER UNIVERSITY
              </a>
            </div>
            <hr />
            <div class="ms-5 mt-3">December 1999</div>
            <div class="ms-5">
              BS IN ELECTRONIC ENGINEERING TECHNOLOGY,
              <a href="https://www.devry.edu/" target="blank"
                >DEVRY UNIVERSITY
              </a>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
