<div class="container min-vh-1000 d-flex flex-column">
  <div class="container row">
    <div class="col-md-8 px-0">
      <h4>
        <div class="m-3">
          Highly competent and knowledgeable professional software engineer with
          over 25 years experience in all aspects of the software development
          life cycle (SDLC). <br /><br />
          My extensive qualifications include excellent technical skills,
          exceptional organizational skills, analytical problem-solving,
          interpersonal skills, and very good time management skills.
        </div>
      </h4>
    </div>
    <div class="col-md-4 px-0 ms- text-center">
      <img
        src="../../assets/images/IMG_2843.JPG"
        class="img-fluid rounded-circle"
      />
    </div>
  </div>
  <div class="col-md-12 row mt-5">
    <div class="border border-1 col me-1">
      <h3>Clent-Server Skills</h3>
      <div class="ms-3 row">
        <ul class="col">
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>Angular 2 - 15</li>
          <li>Bootstrap</li>
          <li>Java</li>
        </ul>
        <ul class="col">
          <li>HTML</li>
          <li>CSS</li>
          <li>SQL</li>
          <li>Python</li>
          <li>Unix</li>
        </ul>
      </div>
    </div>
    <div class="border border-1 col me-1">
      <h3>Mainframe Skills</h3>
      <div class="ms-3 row">
        <ul class="col">
          <li>MVS Assembler</li>
          <li>COBOL</li>
          <li>JCL</li>
          <li>DB2</li>
          <li>IMS</li>
          <li>TSO/ISPF</li>
        </ul>
        <ul class="col">
          <li>FILEAID</li>
          <li>AbendAid</li>
          <li>QMF</li>
          <li>ChangeMan</li>
          <li>Panvelet</li>
          <li>PanExec</li>
        </ul>
      </div>
    </div>
    <div class="border border-1 col">
      <h3>Test Skills</h3>
      <div class="ms-3 row">
        <ul class="col">
          <li>JUnit</li>
          <li>Postman</li>
        </ul>
        <ul class="col">
          <li>Cucumber</li>
          <li>mocking</li>
        </ul>
      </div>
      <h3>Other Skills</h3>
      <div class="ms-3 row">
        <ul class="col">
          <li>Agile</li>
          <li>Git</li>
        </ul>
        <ul class="col">
          <li>Waterfall</li>
          <li>Scrum</li>
        </ul>
      </div>
    </div>
  </div>
</div>
